body {
    margin: 8px;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    display: inline-block;
    justify-content: center;
  }
  
  /* Header Styles */
  header {
    background-color: gray;
    color: black;
    padding: 20px;
  }
  
  #mainHeading {
    color: red;
    text-align: center;
    font-size: 36px;
    
  }
  
  #navBar {
    text-align: center;
  }
  
  .social > li {
    display: inline;
    margin: 0 8px;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  section h2 {
    color: #333;
  }
  
  section article #testP.funParagraph {
    color: green;
  } /* Targets the <p> element with the id "testP" and class "funParagraph" that is inside an <article> element, inside a <section> element */
  
  img {
    max-width: 65%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  /* Image Container and Images for Side by Side */
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .image-container div {
    flex-basis: calc(50% - 20px);
    padding: 10px;
    box-sizing: border-box;
  }
  
  .image-resize {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin: 0;
  }
  
  /* Footer Styles */
  footer {
    background-color: gray;
    font-size: small;
    color: white;
    text-align: center;
    padding: 10px;
  }